body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #87909e;
}

.about-tts {
    padding-left: 9rem;
    padding-bottom: 3rem;
    padding-right: 2rem;
}
.about-tts h5 {
    font-size: 1rem;
    font-weight: 600;
    color: #30343b
}
.about-tts h3 {
    font-size: 1.75rem;
    font-weight: 600;
    color: #30343b
}
.preview-talent {
    background-color: #007bff;
}
.make-it-primary {
    height: 3rem;
    background-color: #0054fe;
}

.ready-hire {
    background-color: #0054fe;
    padding-left: 6rem;
}

.preview-btn {
    background-color: #0054fe;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 6rem;
}
.preview-btn button {
    padding: 0.5rem;
    background-color: #0054fe;
}

.footer-nav {
    margin-left: 5rem;
    margin-right: 5rem;
    padding-top: 3rem;
}
.row.bottom-nav {
    padding-bottom: 3.125rem;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 2rem;
}
.social ul {
    list-style: none;
    padding-left: 0;
    padding-top: 15px;
    width: 54%;
    display: flex;
    justify-content: space-evenly;
}

.social li {
    font-size: 1.2em;
    display: inline-block;
    text-align: center;

}

.footer-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
}

.footer-menu a {
    font-weight: bold;
    line-height: 2;
    color: #000;
}

.footer-menu li {
    padding-left: 4em;
}

.footer-menu li:first-child {
    padding-left: 0;
}

ul .fm-list {
    list-style: none;
    padding-left: 0;
}
.fm-list li a {
    font-weight: normal;
    color: #87909e;
}

.fm-list li {
    padding-left: 0;
    font-size: 0.85em;
    line-height: 2.5;
}

.copyright-info a {
    color: #007bff;
}